/Class2/nbproject/private/
/Class2/build/
/Class 3/nbproject/private/
/Class 3/build/
/Class4/nbproject/private/
/Class4/build/
/Class5/nbproject/private/
/Class7/nbproject/private/
/Class7/build/
/Classs8/nbproject/private/
/Classs8/build/
/Class9/nbproject/private/
/DZ8/nbproject/private/
/DZ8/build/